<div class="cuadroLogin">
  <div class="izq">
    <div class="contenido">
      <div></div>

      <div class="logo">
        <div class="logo1"></div>
      </div>

      <div></div>

      <div class="formulario">
        <mat-form-field appearance="outline" class="loginInput">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="User" [(ngModel)]="username">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="loginInput">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="123" [(ngModel)]="password">
        </mat-form-field>
        <br>
        <button mat-raised-button style="width: 100%;" color="primary" (click)="login()">Ingresar</button>
        <br>
      </div>
      <div></div>
      <div class="LinkRegistro">
        <span class="nota"> ¿No tienes una cuenta? </span>
        <a routerLink="/login/clientregister" class="register">Regístrate aquí</a>
      </div>

    </div>
  </div>
  <div class="der">
    <router-outlet></router-outlet>
  </div>

</div>
