<div class="diseno">
  <app-toolbar-rol-cliente></app-toolbar-rol-cliente>

  <div class="sidenav-container">
    <div></div>
    <div class="contenido">
      <button mat-raised-button routerLink="dashboardClient" color="primary">CUENTA CLIENTE</button>
    </div>

    <div class="contenido">
      <button mat-raised-button routerLink="dashboardAdmin" color="primary">CUENTA ADMIN</button>
    </div>

    <div class="contenido">
      <button mat-raised-button routerLink="dashboardPsi" color="primary">CUENTA PSICÓLOGO</button>
    </div>
    <div></div>

  </div>

</div>
