<mat-toolbar color="primary" class="mat-toolbar">
  <mat-toolbar-row>
    <h1 class="toolbar-title">FASTFIT</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav opened="true" mode="side">
    <mat-nav-list>

      <a mat-list-item href="#" class="list-item">
        <div class="flex-container">
          <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home" class="icon"></mat-icon>
          <span class="link">HOME</span>
        </div>
      </a>

      <a mat-list-item href="#" routerLink="clients" class="list-item">
        <div class="flex-container">
          <mat-icon aria-hidden="false" aria-label="Clients" fontIcon="person" class="icon"></mat-icon>
          <span class="link">Clients</span>
        </div>
      </a>

      <a mat-list-item href="#" class="list-item">
        <div class="flex-container">
          <mat-icon aria-hidden="false" aria-label="Psychologists" fontIcon="psychology" class="icon"></mat-icon>
          <span class="link">Psychologists</span>
        </div>
      </a>

      <a mat-list-item href="#" routerLink="payment" class="list-item">
        <div class="flex-container">
          <mat-icon aria-hidden="false" aria-label="Payments" fontIcon="payment" class="icon"></mat-icon>
          <span class="link">Payments</span>
        </div>
      </a>

      <a mat-list-item href="#" class="list-item">
        <div class="flex-container">
          <mat-icon aria-hidden="false" aria-label="Más" fontIcon="more" class="icon"></mat-icon>
          <span class="link">más</span>
        </div>
      </a>

      <a mat-list-item href="#" class="list-item">
        <div class="flex-container">
          <mat-icon aria-hidden="false" aria-label="Aún más" fontIcon="add" class="icon"></mat-icon>
          <span class="link">aún mas</span>
        </div>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <h1>ES UNA PRUEBA</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
