<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>
    <h1 class="toolbar-title">FASTFIT</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" opened="true" mode="side">

    <mat-nav-list>
      <a mat-list-item class="list-item">
        <div class="flex-container">
          <div class="icono">
            <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home" color="primary"> </mat-icon>
          </div>
          <div class="nombre_icono">
            Home
          </div>
        </div>
      </a>

      <a mat-list-item routerLink="clients" class="list-item">
        <div class="flex-container">
          <div class="icono">
            <mat-icon aria-hidden="false" aria-label="Clients" fontIcon="person" color="primary"></mat-icon>
          </div>
          <div class="nombre_icono">
            Clients
          </div>
        </div>
      </a>

      <a mat-list-item routerLink="psis" class="list-item">
        <div class="flex-container">
          <div class="icono">
            <mat-icon aria-hidden="false" aria-label="Psychologists" fontIcon="psychology" color="primary"></mat-icon>
          </div>
          <div class="nombre_icono">
            Psychologists
          </div>
        </div>
      </a>

      <a mat-list-item routerLink="payment" class="list-item">
        <div class="flex-container">
          <div class="icono">
            <mat-icon aria-hidden="false" aria-label="Payments" fontIcon="payment" color="primary"></mat-icon>
          </div>
          <div class="nombre_icono">
            Payments
          </div>
        </div>
      </a>

      <a mat-list-item routerLink="reviews" class="list-item">
        <div class="flex-container">
          <div class="icono">
            <mat-icon aria-hidden="false" aria-label="Más" fontIcon="more" color="primary"></mat-icon>
          </div>
          <div class="nombre_icono">
            Reseña
          </div>
        </div>
      </a>

      <a mat-list-item routerLink="citas" class="list-item">
        <div class="flex-container">
          <div class="icono">
            <mat-icon aria-hidden="false" aria-label="Aún más" color="primary"> calendar_today</mat-icon>
          </div>
          <div class="nombre_icono">
            Citas
          </div>
        </div>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <h1>ES UNA PRUEBA</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
