.diseno{
  width: 100%;
  height: 100%;
  background-color: fff;
  display: grid;
  grid-template-rows: 8% 92%;
}

.sidenav-container {
  display: grid;
  grid-template-columns: 12% 88%;
  height: 100%;
}

.menu{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0px 5px  #c2c0c0; /* Agrega una sombra ligera */
  z-index: 1; /* Establece una posición por encima de otros elementos */
  padding-left: 7%;
  padding-right: 7%;
}


.contenido{
  width: 100%;
  background-color: #FCFCFC;
  z-index: 0; /* Establece una posición por encima de otros elementos */

}

.fondo1 {
  width: 100%;
  height: 100%;
  background-image: url(src\assets\Psychologist-pana.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

