<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="top">

    <h1 class="titulo"> {{variable_cambio}}</h1>

  </div>
  <br>

  <div class="ingreso">
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>id</mat-label>
        <input matInput placeholder="ejm: 4" formControlName="id" id="inputid">
      </mat-form-field>

      <br>
      <mat-form-field class="example-full-width">
        <mat-label>status</mat-label>
        <input matInput required  placeholder="3/04/2022" formControlName="status">

      </mat-form-field>

      <br>
      <mat-form-field class="example-full-width">
        <mat-label>description</mat-label>
        <input matInput required placeholder="ejm: 1" formControlName="description">
      </mat-form-field>
      <br>
      <div style="text-align: center;">
        <button mat-raised-button color="primary" id="miBoton" style="margin-right: 8px;">Aceptar</button>
        <button mat-raised-button routerLink="/AppointmentStatus" style="margin-left: 8px;">Cancelar</button>
      </div>

    </form>
  </div>
</body>

</html>
