<body>

  <div class="container-fluid">
    <div style="text-align: center">
      <h1>Lista de Estado de turnos</h1>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="filtro">
        <input matInput type="text" (keyup)="filter($event)" placeholder="Buscar" />
      </mat-form-field>
    </div>

    <br>
    <br>

    <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">
      <!--  Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.idTurnstatus}} </td>
      </ng-container>

      <!--  Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>


      <!--  Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button id="edit" [routerLink]="['edition',element.idTurnstatus]">
            <mat-icon aria-hidden="false" color="primary">edit</mat-icon>
          </button>
          <button mat-button (click)="confirm(element.idTurnstatus)">
            <mat-icon aria-hidden="false" color="primary">delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 100]" showFirstLastButtons></mat-paginator>
    <br>

    <div style="text-align: center;">
      <button mat-raised-button color="primary" routerLink="turnstatusinsert"
        style="margin: 10px;">Agregar</button>
    </div>

  </div>
</body>
