h1 {
  text-align: center;
  margin-top: auto;
  flex: 1 1 auto;
}

button:hover {
  color: rgb(0, 0, 0);

}

.row{
  display: flex;
  gap: 10px;
}

.filtro{
  width :20%;
  height: 30px;
}


.cedit{

font-size:  100px;
}


