<div class="diseno">

  <app-toolbar-rol-cliente></app-toolbar-rol-cliente>

  <div class="sidenav-container">
    <div class="menu">
      <app-menu-rol-cliente></app-menu-rol-cliente>
    </div>

    <div class="contenido">
      <body>
        <div class="container-fluid">
          <div class="top">
            <h1>Lista de citas</h1>

          </div>

          <div class="row">
            <mat-form-field appearance="outline" class="filtro">
              <input matInput type="text" (keyup)="filtrar($event)" placeholder="Buscar" />
            </mat-form-field>
          </div>
          <br>
          <br>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.The actual rendered columns are set as a property on the row definition" --><!-- Position Column -->
            <ng-container matColumnDef="idAppointment">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> No. </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.idAppointment}} </td>
            </ng-container><!-- Name Column --><ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Date </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.date|date:'dd-MM-yyyy'}}
              </td>
            </ng-container><!-- Weight Column -->
            <ng-container matColumnDef="client">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Client </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.client.userName}} </td>
            </ng-container><ng-container matColumnDef="psychologist">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Psychologist </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.psychologist.userName}}
              </td>
            </ng-container>
            <ng-container matColumnDef="appointmentStatus">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Appointment-Status </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.appointmentStatus.status}}
              </td>
            </ng-container>

            <ng-container matColumnDef="ceditar">
              <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acciones </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button id="editar" [routerLink]="['edition',element.idAppointment]">
                  <mat-icon id="cedit" aria-hidden="false" color="primary">edit</mat-icon>
                </button>
                <button mat-button (click)="confirmar(element.idAppointment)">
                  <mat-icon id="cedit" aria-hidden="false" color="primary">delete</mat-icon>
                </button>

              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
          <br>
          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 100]" showFirstLastButtons></mat-paginator>
          <br>
          <div style="text-align: center;">
            <button mat-raised-button color="primary" routerLink="appoinsertar" style="margin: 10px; ">Agregar
              Cita</button>
          </div>

        </div>
      </body>
    </div>

  </div>

</div>
