<body>
  <div class="container-fluid">
    <div style="text-align: center">
      <h1>Lista de Turnos</h1>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="filtro">
        <input matInput (keyup)="filter($event)" placeholder="Buscar" />
      </mat-form-field>
    </div>

    <br>
    <br>

    <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">
      <!--  Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.idTurn}} </td>
      </ng-container>

      <!--  Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date : "dd/MM/yyyy"}} </td>
      </ng-container>

      <!--  Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duracion (horas) </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
      </ng-container>

            <!--  Column -->
            <ng-container matColumnDef="TurnStatus_id">
              <th mat-header-cell *matHeaderCellDef> Estado Turno Id </th>
              <td mat-cell *matCellDef="let element"> {{element.turnstatus.status}} </td>
            </ng-container>

            <!--  Column -->
            <ng-container matColumnDef="Psychologist_id">
              <th mat-header-cell *matHeaderCellDef> Psicologo Id </th>
              <td mat-cell *matCellDef="let element"> {{element.psychologist.names}} </td>
            </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button id="edit" [routerLink]="['edition',element.idTurn]">
            <mat-icon aria-hidden="false" color="primary">edit</mat-icon>
          </button>
          <button mat-button (click)="confirm(element.idTurn)">
            <mat-icon aria-hidden="false" color="primary">delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 100]" showFirstLastButtons></mat-paginator>
    <br>

    <div style="text-align: center;">
      <button mat-raised-button color="primary" routerLink="turninsert" style="margin: 10px;">Agregar Turno</button>
    </div>

  </div>
</body>
