<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="top">

    <h1 class="titulo"> {{variable_cambio}}</h1>

  </div>
  <br>

  <div class="ingreso">
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput placeholder="ejm: 4" formControlName="id" id="inputid">
      </mat-form-field>

      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Date</mat-label>
        <input matInput required [matDatepicker]="picker" placeholder="3/04/2022" formControlName="date" [min]="minFecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Cliente_ID</mat-label>
        <input matInput required placeholder="ejm: 1" formControlName="client_id">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Psychologist_ID</mat-label>
        <input matInput required placeholder="ejm: 2" formControlName="PsychologistID">
      </mat-form-field>

      <br>
      <mat-form-field class="example-full-width">
        <mat-label>AppointentStatus_ID</mat-label>
        <input matInput required placeholder="ejm: 3" formControlName="appointment_id">
      </mat-form-field>
      <br>

      <div style="text-align: center;">
        <button mat-raised-button color="primary" id="miBoton" style="margin-right: 8px;">Aceptar</button>
        <button mat-raised-button routerLink="/citas" style="margin-left: 8px;">Cancelar</button>
      </div>

    </form>
  </div>
</body>

</html>
