<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="container-fluid">

    <div style="text-align: center;">
      <h1>Registrar un nuevo Estado de usuario</h1>
    </div>

    <div class="ingreso">

      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label>Código</mat-label>
          <input matInput placeholder="numero" formControlName="id" />
        </mat-form-field>
        <br>


        <mat-form-field class="example-full-width">

          <mat-label>Status</mat-label>

          <input required matInput placeholder="Status" formControlName="Status" />
        </mat-form-field>
        <br>


        <mat-form-field class="example-full-width">

          <mat-label>Description</mat-label>

          <input matInput required placeholder="Description" formControlName="Description" />
        </mat-form-field>
        <br>

        <div style="text-align: center;">
          <button mat-raised-button color="primary" style="margin-right: 8px;">Aceptar</button>
          <button mat-raised-button routerLink="/UserStatus" style="margin-left: 8px;">Cancelar</button>


        </div>
        <br>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </div>

</body>

</html>
