<div class="sidenav">
  <div class="listaLink">
    <!-- Dashboard -->
    <div class="item">
      <div routerLink="/dashboard" class="botonItem" [class.active]="activeButton === 11" (click)="setActiveButton(11)">
        <mat-icon aria-label="Home" class="icono">dashboard</mat-icon>
        <span class="nombre_icono">Dashboard</span>
      </div>
    </div>

    <!-- Psicólogos -->
    <div class="item">
      <div class="botonItem" [class.active]="activeButton === 1" (click)="setActiveButton(1)">
        <mat-icon aria-label="Psychologists" class="icono">psychology_alt</mat-icon>
        <span class="nombre_icono">Psicólogos</span>
      </div>
    </div>

    <!-- Mis Pagos -->
    <div class="item">
      <div routerLink="/payment" class="botonItem" [class.active]="activeButton === 2" (click)="setActiveButton(2)">
        <mat-icon aria-label="Payments" class="icono">payment</mat-icon>
        <span class="nombre_icono">Mis Pagos</span>
      </div>
    </div>

    <!-- Reseñas -->
    <div class="item">
      <div routerLink="/reviews" class="botonItem" [class.active]="activeButton === 3" (click)="setActiveButton(3)">
        <mat-icon aria-label="Reviews" class="icono">forum</mat-icon>
        <span class="nombre_icono">Reseñas</span>
      </div>
    </div>

    <!-- Citas -->
    <div class="item">
      <div routerLink="/appointments" class="botonItem" [class.active]="activeButton === 4"
        (click)="setActiveButton(4)">
        <mat-icon aria-label="Appointment" class="icono">edit_calendar</mat-icon>
        <span class="nombre_icono">Citas</span>
      </div>
    </div>

    <div>
      <!-- <button mat-raised-button color="primary" style="width: 100%;">Turno Estatus</button> -->
    </div>

    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

    <!-- perfil -->
    <div class="item">
      <div class="botonItem" [class.active]="activeButton === 12" (click)="setActiveButton(12)">
        <mat-icon aria-label="settings" class="icono">manage_accounts</mat-icon>
        <span class="nombre_icono">Configuración</span>
      </div>
    </div>
    <div></div>

  </div>
</div>
