<div class="diseno">

  <app-toolbar-rol-cliente></app-toolbar-rol-cliente>

  <div class="sidenav-container">
    <div class="menu">
      <app-menu-rol-cliente></app-menu-rol-cliente>
    </div>

    <div class="contenido">

      <body>
        <div class="container-fluid">

          <div style="text-align: center;">
            <h1>Lista de Psicólogos</h1>

          </div>

          <mat-form-field appearance="outline">
            <input matInput type="text" (keyup)="filtrar($event)" placeholder="Buscar" />
          </mat-form-field>
          <table mat-table class="mat-elevation-z8" mat-table [dataSource]="dataSource">


            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.idPsi}} </td>
            </ng-container>


            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef> User </th>
              <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>


            <!-- <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container> -->


            <ng-container matColumnDef="names">
              <th mat-header-cell *matHeaderCellDef> Names </th>
              <td mat-cell *matCellDef="let element"> {{element.names}} </td>
            </ng-container>

            <ng-container matColumnDef="lastNames">
              <th mat-header-cell *matHeaderCellDef> LastName </th>
              <td mat-cell *matCellDef="let element"> {{element.lastNames}} </td>
            </ng-container>


            <ng-container matColumnDef="emailAddress">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
            </ng-container>


            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>


            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef> Age </th>
              <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>


            <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef> Rating </th>
              <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
            </ng-container>


            <ng-container matColumnDef="userStatus">
              <th mat-header-cell *matHeaderCellDef> User Status </th>
              <td mat-cell *matCellDef="let element"> {{element.userStatus.status}} </td>
            </ng-container>

            <ng-container matColumnDef="genero">
              <th mat-header-cell *matHeaderCellDef> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="specialty">
              <th mat-header-cell *matHeaderCellDef> Specialty</th>
              <td mat-cell *matCellDef="let element"> {{element.specialty.name}} </td>
            </ng-container>


            <ng-container matColumnDef="ceditar">
              <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acciones </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button id="editar" [routerLink]="['edicion',element.idPsi]">
                  <mat-icon aria-hidden="false" color="primary" fontIcon="edit"></mat-icon>
                </button>
                <button mat-button (click)="confirmar(element.idPsi)">
                  <mat-icon aria-hidden="false" color="primary" fontIcon="delete"></mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <br>

          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 100]" showFirstLastButtons></mat-paginator>

          <br>
          <div style="text-align: center;">
            <section>
              <button style="margin-right: 10px ;" mat-raised-button color="primary"
                routerLink="/psis/psisinsertar">Registrar
                psicólogo</button>
            </section>
          </div>

        </div>
      </body>
    </div>

  </div>

</div>
