.diseno{
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: grid;
  grid-template-rows: 8% 92%;
}

.sidenav-container {
  display: grid;
  grid-template-columns: 12% 88%;
  height: 100%;
}

.menu{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0px 5px  #c2c0c0; /* Agrega una sombra ligera */
  z-index: 1; /* Establece una posición por encima de otros elementos */
  border-left: 7%;
  border-right: 7%;
}

.contenido{
  width: 100%;
  background-color: #FCFCFC;
  z-index: 0; /* Establece una posición por encima de otros elementos */

}



.mat-toolbar {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgba(0,0,0,.87);
  position: relative; /*Asegurarse que el elemento tenga una posición relativa */
  display: grid;
  /* place-content: center; */
  grid-template-columns: 12% 76% 4% 7% 1%;
  box-shadow: 0px 1px #d9d8d8; /* Agrega una sombra ligera */
  z-index: 2; /* Establece una posición por encima de otros elementos */
  padding: 0.2%;
}

.boton{
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.logo {
  width: 100%;
  height: 100%;
  background-image: url("src/assets/logoFastFit2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 50%;
  z-index: 2;
}

.cuerpo {
  width: 100%;
  height: 100%;
}

.sidenav {
  height: 100%;
  width: auto;
  background-color: rgb(255, 255, 255);

}

.listaLink {
  height: 100%;
  display: grid;
  grid-template-rows:  7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7%;
}

.item{
  display: grid;
  align-items:center; /* Centra verticalmente */
  justify-items: center; /* Centra horizontalmente */
}

.botonItem{
  width: 100%;
  height: 65%;

  border-bottom: 1px solid #ededed;
  /* border-radius: 0.625rem; */
  box-sizing: border-box;
  background-color: white;
  color: #3F51B5;

  display: grid;
  grid-template-columns: 25% 75% ;
  place-content: center;
  place-items: center;
  cursor: pointer;
}

.botonItem:hover{
  background-color: #3F51B5;
  color: white;
  border: 1px solid;
  border-radius: 0.3rem;
}

.botonItem.active {
  background-color: #3F51B5;
  color: white;
  border: 1px solid;
  border-radius: 0.35rem;
}

/* Agrega margen derecho a "icono" para separarlo del "nombre_icono" */
.icono{
  width: 100%;
  height: 100%;
  font-size: 2em;
  display: grid;
  place-content: center;
  place-items: center;
}

/* Agrega margen izquierdo a "nombre_icono" para separarlo del "icono" */
.nombre_icono {
  width: 100%;
  height: 100%;
  font-size: 1.1em; /* Cambia el tamaño de fuente del texto a tu preferencia */
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  display: grid;
  align-items: center; /* Centra verticalmente */
  justify-items: start; /* Alinea a la izquierda */
}


