<div class="diseno" *ngIf="verificar()">

  <div class="mat-toolbar">
    <div class="logo"></div>
    <div> </div>
    <div> </div>
    <div class="boton" *ngIf="validarRol()">
      <button mat-raised-button routerLink="/login" (click)="cerrar()" color="primary">Cerrar Sesión</button>
    </div>
    <div> </div>
  </div>

  <div class="sidenav-container">

    <!-- MENÚ GENERAL -->
    <div class="menu">

      <div class="sidenav">

        <div class="listaLink">
          <!-- Dashboard -->
          <div class="item" *ngIf="validarRol()">
            <div [routerLink]="'pages/dashboard'" class="botonItem" [class.active]="activeButton === 11"
              (click)="setActiveButton(11)">
              <mat-icon aria-label="Home" class="icono">dashboard</mat-icon>
              <span class="nombre_icono">Dashboard</span>
            </div>
          </div>

          <!-- Clientes -->
          <div class="item" *ngIf="role=='ADMIN'">
            <div routerLink="pages/clients" class="botonItem" [class.active]="activeButton === 0"
              (click)="setActiveButton(0)">
              <mat-icon aria-label="Clients" class="icono">person</mat-icon>
              <span class="nombre_icono">Clientes</span>
            </div>
          </div>

          <!-- Psicólogos LISTA -->
          <div class="item" *ngIf="role=='ADMIN'">
            <div routerLink="pages/Psychologists" class="botonItem" [class.active]="activeButton === 1"
              (click)="setActiveButton(1)">
              <mat-icon aria-label="Psychologists" class="icono">psychology_alt</mat-icon>
              <span class="nombre_icono">Psicólogos</span>
            </div>
          </div>

          <!-- Transacciones -->
          <div class="item" *ngIf="role=='ADMIN'">
            <div class="botonItem" routerLink="pages/payment" [class.active]="activeButton === 2"
              (click)="setActiveButton(2)">
              <mat-icon aria-label="Payments" class="icono">payment</mat-icon>
              <span class="nombre_icono"> Transacciones </span>
            </div>
          </div>

          <!-- Especialidad -->
          <div class="item" *ngIf="role=='ADMIN'">
            <div routerLink="pages/specialty" class="botonItem" [class.active]="activeButton === 5"
              (click)="setActiveButton(5)">
              <mat-icon aria-label="Especialidad" class="icono">text_snippet</mat-icon>
              <span class="nombre_icono">Especialidad</span>
            </div>
          </div>

          <!-- Género -->
          <div class="item" *ngIf="role=='ADMIN'">
            <div routerLink="pages/genders" class="botonItem" [class.active]="activeButton === 8"
              (click)="setActiveButton(8)">
              <mat-icon aria-label="Gender" class="icono">text_snippet</mat-icon>
              <span class="nombre_icono">Género</span>
            </div>
          </div>

          <!-- Usuario Estatus -->
          <div class="item" *ngIf="role=='ADMIN'">
            <div routerLink="pages/UserStatus" class="botonItem" [class.active]="activeButton === 6"
              (click)="setActiveButton(6)">
              <mat-icon aria-label="UserStatus" class="icono">analytics</mat-icon>
              <span class="nombre_icono">Usuario Estatus</span>
            </div>
          </div>

          <!-- Cita Estatus -->
          <div class="item" *ngIf="role=='ADMIN'">
            <div routerLink="pages/appointmentstatus" class="botonItem" [class.active]="activeButton === 7"
              (click)="setActiveButton(7)">
              <mat-icon aria-label="Cita Estatus" class="icono">analytics</mat-icon>
              <span class="nombre_icono">Cita Estatus</span>
            </div>
          </div>

          <div *ngIf="role=='ADMIN'"></div>
          <div *ngIf="role=='ADMIN'"></div>
          <div *ngIf="role=='ADMIN'"></div>
          <div *ngIf="role=='ADMIN'"></div>
          <div *ngIf="role=='ADMIN'"></div>

          <!-- Psicólogos MATCARD -->
          <div class="item" *ngIf="role=='USER'">
            <div class="botonItem" routerLink="pages/Psychologists" [class.active]="activeButton === 1" (click)="setActiveButton(1)">
              <mat-icon aria-label="Psychologists" class="icono">psychology_alt</mat-icon>
              <span class="nombre_icono">Psicólogos</span>
            </div>
          </div>

          <!-- Mis Pagos -->
          <div class="item" *ngIf="role=='USER'">
            <div routerLink="pages/payment" class="botonItem" [class.active]="activeButton === 2"
              (click)="setActiveButton(2)">
              <mat-icon aria-label="Payments" class="icono">payment</mat-icon>
              <span class="nombre_icono">Mis Pagos</span>
            </div>
          </div>

          <!-- Reseñas -->
          <div class="item" *ngIf="role=='USER'">
            <div routerLink="pages/reviews" class="botonItem" [class.active]="activeButton === 3"
              (click)="setActiveButton(3)">
              <mat-icon aria-label="Reviews" class="icono">forum</mat-icon>
              <span class="nombre_icono">Reseñas</span>
            </div>
          </div>

          <!-- Citas -->
          <div class="item" *ngIf="role=='USER'">
            <div routerLink="pages/appointments" class="botonItem" [class.active]="activeButton === 4"
              (click)="setActiveButton(4)">
              <mat-icon aria-label="Appointment" class="icono">edit_calendar</mat-icon>
              <span class="nombre_icono">Citas</span>
            </div>
          </div>

          <div *ngIf="role=='USER'"></div>
          <div *ngIf="role=='USER'"></div>
          <div *ngIf="role=='USER'"></div>
          <div *ngIf="role=='USER'"></div>
          <div *ngIf="role=='USER'"></div>
          <div *ngIf="role=='USER'"></div>
          <div *ngIf="role=='USER'"></div>
          <div *ngIf="role=='USER'"></div>

          <!-- Turnos -->
          <div class="item" *ngIf="role=='PSICO'">
            <div routerLink="pages/turns" class="botonItem" [class.active]="activeButton === 9" (click)="setActiveButton(9)">
              <mat-icon aria-label="Turnos" class="icono">calendar_month</mat-icon>
              <span class="nombre_icono">Turnos</span>
            </div>
          </div>

          <!-- Pacientes -->
          <div class="item" *ngIf="role=='PSICO'">
            <div routerLink="/pages/payment"  class="botonItem" [class.active]="activeButton === 0" (click)="setActiveButton(0)">
              <mat-icon aria-label="Clients" class="icono">person</mat-icon>
              <span class="nombre_icono">Pacientes</span>
            </div>
          </div>

          <!-- Recaudación -->
          <div class="item" *ngIf="role=='PSICO'">
            <div routerLink="/pages/payment" class="botonItem" [class.active]="activeButton === 2" (click)="setActiveButton(2)">
              <mat-icon aria-label="Payments" class="icono">payment</mat-icon>
              <span class="nombre_icono">Recaudación</span>
            </div>
          </div>

          <!-- Mi Puntuación -->
          <div class="item" *ngIf="role=='PSICO'">
            <div routerLink="/pages/reviews" class="botonItem" [class.active]="activeButton === 3"
              (click)="setActiveButton(3)">
              <mat-icon aria-label="Reviews" class="icono">forum</mat-icon>
              <span class="nombre_icono">Mi Puntuación</span>
            </div>
          </div>

          <div *ngIf="role=='PSICO'"></div>
          <div *ngIf="role=='PSICO'"></div>
          <div *ngIf="role=='PSICO'"></div>
          <div *ngIf="role=='PSICO'"></div>
          <div *ngIf="role=='PSICO'"></div>
          <div *ngIf="role=='PSICO'"></div>
          <div *ngIf="role=='PSICO'"></div>
          <div *ngIf="role=='PSICO'"></div>

          <!-- perfil -->
          <div class="item" *ngIf="validarRol()">
            <div class="botonItem" [class.active]="activeButton === 12" (click)="setActiveButton(12)">
              <mat-icon aria-label="settings" class="icono">manage_accounts</mat-icon>
              <span class="nombre_icono">Configuración</span>
            </div>
          </div>
          <div></div>
        </div>
      </div>

    </div>

    <div class="contenido">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<router-outlet *ngIf="!validarRol()"></router-outlet>

