<div style="text-align: center;">
  <mat-dialog-content>
    <p>¿Está seguro de eliminar?</p>
    <button mat-raised-button color="primary" (click)="confirmar(true)" style="margin: 10px;">Si</button>
    <button mat-raised-button (click)="confirmar(false)" style="margin: 10px;">No</button>
  </mat-dialog-content>
</div>
<<<<<<<< HEAD:src/app/component/appointmentstatus/appointmentstatus-list/appointmentstatus-dialogo/appointmentstatus-dialogo.component.html


========
>>>>>>>> feature/appointment:src/app/component/gender/gender-listar/gender-dialog/gender-dialog.component.html
