<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <br>
  <div class="container-fluid" style="text-align: center;">

    <div style="text-align: center;">
      <h1>Registrar Pago</h1>
    </div>

    <br>
    <div class="ingreso">
      <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field class="example-full-width">
          <mat-label>ID</mat-label>
          <input matInput required placeholder="ID" formControlName="id">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Código de Pago</mat-label>
          <input matInput required placeholder="Código de Pago" formControlName="paymentCode">
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de Pago</mat-label>
          <input matInput required [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" [max]="maxFecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Tarjeta</mat-label>
          <input matInput required placeholder="Num Tarjeta" formControlName="cardNumber">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Código Cliente</mat-label>
          <input matInput required placeholder="Num Tarjeta" formControlName="Client_id">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Código Psicólogo</mat-label>
          <input matInput required placeholder="Num Tarjeta" formControlName="Psychologist_id">
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <mat-select required placeholder="Elija Estado" formControlName="active">
            <mat-option value="1">Activo</mat-option>
            <mat-option value="0">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <!--
      <mat-form-field appearance="fill">
        <mat-label>Género</mat-label>
        <mat-select placeholder="Elija género" formControlName="genderPet">
          <mat-option value="Macho">Macho</mat-option>
          <mat-option value="Hembra">Hembra</mat-option>
        </mat-select>

      </mat-form-field>
  -->

        <div style="text-align: center">
          <button mat-raised-button color="primary" style="margin-right: 8px;">Aceptar</button>
          <button mat-raised-button routerLink="/payment" style="margin-left: 8px;">Cancelar</button>
          <p>{{mensaje}}</p>
        </div>

      </form>
    </div>

  </div>
</body>

</html>
