.titulo{
  display: grid;
  place-items: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.registro {
  height: 80%;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}

.ingreso {
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.camposFormulario {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.column{
  display: grid;
  grid-template-rows: 16% 16% 16% 16% 16% 16%;
  padding: 1em;
}

.item1{
  display: grid;
  place-items: center;
}

.imagen{
  /*width: 8vw;
  height: 80vh;
  */
  background-image: url(src\assets\Psychologist-amico.svg);
  background-repeat: no-repeat;
  background-position: center;
}

mat-form-field {
  width: 100%;
}

