<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>

  <div class="registro">

    <div class="titulo">
      Registrar Pago
    </div>

    <div>
      <form [formGroup]="form" (submit)="aceptar()" class="ingreso">
        <div class="camposFormulario">
          <div class="column">

            <div class="item">
              <mat-form-field class="example-full-width">
                <mat-label>ID</mat-label>
                <input matInput readonly placeholder="ID" formControlName="id">
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field class="example-full-width">
                <mat-label>Nro. Documento</mat-label>
                <input matInput required placeholder="BV100-1746600" formControlName="paymentCode">
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field class="example-full-width">
                <mat-label>ID Cita</mat-label>
                <input matInput required placeholder="5" formControlName="idAppointment">
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field appearance="fill">
                <mat-label>Fecha de Pago</mat-label>
                <input matInput required [matDatepicker]="picker1" placeholder="Choose a date" formControlName="date"
                  [min]="minFecha" [max]="maxFecha">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field appearance="fill">
                <mat-label>Moneda</mat-label>
                <mat-select required placeholder="Elija Moneda" formControlName="currency">
                  <mat-option value="Soles">Soles</mat-option>
                  <mat-option value="USD Dólares">USD Dólares</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field class="example-full-width">
                <mat-label>Importe</mat-label>
                <input matInput required placeholder="50" formControlName="import">
              </mat-form-field>
            </div>

          </div>

          <div class="column">

            <div class="item">
              <mat-form-field class="example-full-width">
                <mat-label>Tarjeta</mat-label>
                <input matInput required placeholder="4236178832453567" formControlName="cardNumber">
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field class="example-full-width">
                <mat-label>CVV</mat-label>
                <input matInput required placeholder="857" formControlName="cvv">
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field appearance="fill">
                <mat-label>Fecha de Vencimiento</mat-label>
                <input matInput [matDatepicker]="picker2" required placeholder="MM/AA" formControlName="expiration">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker startView="year" #picker2></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput required placeholder="Juan Jose" formControlName="name">
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field class="example-full-width">
                <mat-label>Apellido</mat-label>
                <input matInput required placeholder="Lopez Cano" formControlName="lastname">
              </mat-form-field>
            </div>

            <div class="item">
              <mat-form-field class="example-full-width">
                <mat-label>email</mat-label>
                <input matInput required placeholder="juan123@gmail.com" formControlName="email">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="imagen"> </div>

      </form>
    </div>
    <div style="text-align: center">
      <button mat-raised-button color="primary" style="margin-right: 8px;">Aceptar</button>
      <button mat-raised-button routerLink="/payment" style="margin-left: 8px;">Cancelar</button>
      <p>{{mensaje}}</p>
    </div>



  </div>



</body>

</html>
