<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="container-fluid">

    <div style="text-align: center;">
      <h1>Registrar un nuevo Psicologo</h1>
    </div>

    <div class="ingreso">

      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label>Código</mat-label>
          <input matInput placeholder="numero" formControlName="id" />
        </mat-form-field>
        <br>


        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input required matInput placeholder="usuario" formControlName="userName" />
        </mat-form-field>
        <br>


        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput required placeholder="contraseña" formControlName="password" />
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Nombres</mat-label>
          <input matInput  required placeholder="nombres" formControlName="names" />
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Apellidos</mat-label>
          <input matInput required placeholder="apellidos" formControlName="lastNames" />
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>email</mat-label>
          <input matInput required placeholder="email" formControlName="emailAddress" />
        </mat-form-field>
        <br>


        <mat-form-field class="example-full-width">
          <mat-label>Telefono</mat-label>
          <input matInput required placeholder="telefono" formControlName="phoneNumber" />
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Edad</mat-label>
          <input matInput required placeholder="edad" formControlName="age" />
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Rating</mat-label>
          <input matInput required placeholder="rating" formControlName="rating" />
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>UserStatus_Id</mat-label>
          <input matInput required placeholder="UserStatus_Id" formControlName="UserStatus_Id" />
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Speciality_id</mat-label>
          <input matInput required placeholder="Speciality_id" formControlName="Speciality_id" />
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Genero</mat-label>
          <mat-select placeholder="genero" formControlName="Gender_id">
            <mat-option value="Masculino">Masculino</mat-option>
            <mat-option value="Femenino">Femenino</mat-option>
          </mat-select>

        </mat-form-field>


        <div style="text-align: center;">
          <button mat-raised-button color="primary" style="margin-right: 8px;">Aceptar</button>
          <button mat-raised-button routerLink="/psis" style="margin-left: 8px;">Cancelar</button>


        </div>
        <br>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </div>

</body>

</html>