.row{
  display: flex;
  gap: 10px;
}

.filtro{
  width :20%;
  height: 30px;
}

.pagotable{
  width: 100%;
}

.mat-column-id {
  width: 15%;
}

.mat-column-name {
  width: 15%;
}

.mat-column-description {
  width: 45%;
}

.mat-column-ceditar {
  width: 25%;
}
