<div class="diseno">

  <app-toolbar-rol-cliente></app-toolbar-rol-cliente>

  <div class="sidenav-container">
    <div class="menu">
      <app-menu-rol-cliente></app-menu-rol-cliente>
    </div>

    <div class="contenido">
      <body>
        <div class="container-fluid" style="text-align: center;">

          <div style="text-align: center;">
            <h1>Registrar Reseña</h1>
          </div>

          <br>

          <div class="ingreso">
            <form [formGroup]="form" (submit)="accept()">

              <mat-form-field class="example-full-width">
                <mat-label>Id</mat-label>
                <input matInput placeholder="id" formControlName="id">
              </mat-form-field>
              <br>

              <mat-form-field class="example-full-width">
                <mat-label>Comment</mat-label>
                <input matInput required placeholder="content" formControlName="content">
              </mat-form-field>
              <br>

              <mat-form-field appearance="fill">
                <mat-label>Likes</mat-label>
                <mat-select required placeholder="likes" formControlName="likes" required>
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Client</mat-label>
                <mat-select formControlName="client" [(value)]="idCliSelec" required>
                  <mat-option *ngFor="let c of listcli" [value]="c.idClient">
                    {{c.names}}
                </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Psychologist</mat-label>
                <mat-select formControlName="psychologist" [(value)]="idPsysSelec" required>
                  <mat-option *ngFor="let p of listpsi" [value]="p.idPsi">
                    {{p.names}}
                </mat-option>
                </mat-select>
              </mat-form-field>
              <br>

              <div style="text-align: center;">
                <button mat-raised-button color="primary" style="margin-right: 8px;">Aceptar</button>
                <button mat-raised-button routerLink="/reviews" style="margin-left: 8px;">Cancelar</button>
                <p>{{mensaje}}</p>
              </div>
            </form>
          </div>

        </div>
      </body>
    </div>

  </div>

</div>
