<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid" style="text-align: center;">

    <div style="text-align: center;">
      <h1>Registrar Reseña</h1>
    </div>

    <br>

    <div class="ingreso">
      <form [formGroup]="form" (submit)="accept()">

        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput required placeholder="Id" formControlName="id">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Comment</mat-label>
          <input matInput required placeholder="content" formControlName="content">
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Likes</mat-label>
          <mat-select required placeholder="likes" formControlName="likes" required>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Client</mat-label>
          <input matInput required placeholder="Client_id" formControlName="client_id">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Psychologist</mat-label>
          <input matInput required placeholder="Psychologist_id" formControlName="psychologist_id">
        </mat-form-field>
        <br>

        <div style="text-align: center;">
          <button mat-raised-button color="primary" style="margin-right: 8px;">Aceptar</button>
          <button mat-raised-button routerLink="/reviews" style="margin-left: 8px;">Cancelar</button>
          <p>{{mensaje}}</p>
        </div>
      </form>
    </div>

  </div>
</body>

</html>
